# No need to include all of their packaged tools
/tools/*

# Don't need to include the tests - those don't change from the starter files
/projects/01/*.tst
/projects/01/*.cmp

# Don't need the results either
*.out